<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reelmakerai">

    <!-- Only keep permissions needed for video/audio flows -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="ReelMakerAI"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReelMakerAI">

        <activity android:name=".ui.IntroActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.launcher.FileEditHistoryActivity" />
        <activity android:name=".ui.editor.ResizeEditorActivity" />
        <activity android:name=".ui.editor.CropEditorActivity" />
        <activity android:name=".ui.editor.RotateEditorActivity" />
        <activity android:name=".ui.editor.FlipEditorActivity" />
        <activity android:name=".ui.editor.ZoomEditorActivity" />
        <activity android:name=".ui.editor.BGFillEditorActivity" />


        <activity android:name=".ui.VideoPreviewActivity" android:exported="true" />
        <activity android:name=".ui.FullscreenVideoActivity" />
        <activity android:name=".ui.PhotoEditorActivity" android:exported="true" />
        <activity android:name=".ui.CollageEditorActivity" android:exported="true" />
        <activity android:name=".ui.MainBoardActivity" android:exported="true" android:theme="@style/Theme.ReelMakerAI"/>
        <activity android:name=".ui.AIStudioActivity" />
        <activity android:name=".ui.ExportResultActivity" android:exported="true" >
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
